@tailwind base;
@tailwind components;
@tailwind utilities;

.main-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.main-scrollbar::-webkit-scrollbar-thumb {
  background: #00FFFF;
  border-radius: 5px;
  cursor: pointer;
}

.main-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #29b5b5;
}

.main-scrollbar::-webkit-scrollbar-track {
  background: #646464;
}
 
@layer base {
  .pageMainDiv {
    @apply w-full px-2 md:px-0 mx-auto text-lg pt-10 dark:text-[#fdeed4] font-medium;
  }

  .subTitle {
    @apply dark:text-[#00FF00] text-2xl md:text-3xl pt-4 pb-1 font-mono font-semibold text-center;
  }

  .webNavButton {
    @apply font-mono text-base hover:bg-[#ffffff4d] p-2 px-4 rounded-lg ease-in-out duration-500 flex items-center gap-1;
  }

  .mobileNavButton {
    @apply font-mono font-semibold border-2 border-white text-white p-2 px-4 rounded-lg flex items-center gap-1;
  }

  .iconStyle {
    @apply dark:text-[#fdeed4];
  }

  .tool {
    @apply flex flex-col gap-2;
  }

  .toolTitle {
    @apply text-lg font-semibold mb-2 dark:text-[#00FF00];
  }

  .toolItem {
    @apply flex gap-2 text-base items-center;
  }

  .normalButton {
    @apply py-2 px-6 bg-slate-900 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 dark:bg-slate-100 dark:text-black flex items-center gap-1;
  }

  .codeButton {
      @apply p-2 bg-red-500 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 dark:bg-red-800 flex items-center gap-1;
  }

  .adminButton {
    @apply p-2 bg-slate-800 rounded-lg hover:opacity-80 text-white text-sm font-semibold transition-all duration-200 flex items-center gap-2;
  }

  .actionButton {
    @apply p-2 px-4 bg-[#1f3150] dark:bg-cyan-300 bg-opacity-90 shadow rounded-lg hover:opacity-80 text-white dark:text-black text-sm font-semibold transition-all duration-200 flex items-center gap-2;
  }

  .input{
    @apply w-full px-4 py-2 border bg-gray-700 text-white  placeholder-gray-400 border-gray-600 rounded-md focus:outline-none focus:ring focus:border-blue-300;
  }

  .contactInput {
    @apply w-full px-4 py-2 border text-white bg-inherit placeholder-slate-200 dark:placeholder-gray-400 dark:border-gray-600 rounded-md focus:outline-none focus:ring focus:border-blue-300;
  }

  .adminCreatePage{
    @apply min-h-screen bg-gradient-to-r from-[#ff69b0] to-[#ffb5a8] flex items-center justify-center pb-4;
  }

  .contact1Input{
    @apply placeholder:text-slate-700 dark:placeholder:text-slate-300  py-2 px-6 bg-inherit rounded-lg outline-none border-slate-900  dark:border-cyan-400 border font-medium;
  }
}